{% extends "categories/base_categories.html" %}

{% block title %}{% include "categories/widgets/category_title.html"%}{% endblock %}

{% block content %}
    <div>
        <form action="" method="get">
            {{ category_questions_form }}
            <button>Search</button>
        </form>
    </div>

    <div>
        <b>Questions:</b>
        {% for question in questions %}
            <div><a href="{% url "questions:question_content" pk=question.id %}">{{ question }}</a></div>
        {% endfor %}
    </div>
    <br>
    <a href="{% url "categories:category_list" %}">All categories</a>
{% endblock %}
