{% extends "core/base.html" %}
{% load crispy_forms_tags %}

{% block title %}Login{% endblock %}
{% block header %}Authorization{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-6">
            <form method="post" action="">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-primary">Login.</button>
                <a href="/login/vk-oauth2"><img src="/static/vk_auth.jpg" width="45" class="avatar-3" data-toggle="tooltip" title="Login via VKontakte"></a>
                <a href="/login/facebook"><img src="/static/facebook_auth.png" width="45" class="avatar-3" data-toggle="tooltip" title="Login via Facebook"></a>
            </form>

        </div>
    </div>
    <br>
    <div>Если вы не имеетe аккаунта, то пройдите регистрацию: <a href="{% url "core:register" %}">ссылка</a></div>
{% endblock %}