{% extends "core/base.html" %}

{% block title %}Main{% endblock %}
{% block header %}StackOverflow2{% endblock %}
<!--titleAll-->
{% block content %}
    {% for question in questions %}
        <div class="container">
            <div class="alert alert-secondary">
                <a href="{% url "questions:question_content" pk=question.id %}" class="alert-link">{{ question }}</a>
                <hr>
                <p class="text-muted small mb-0">By "{{ question.author }}" in {{ question.created }}</p>
            </div>
        </div>

    {% endfor %}

{% endblock %}